button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::selection {
  background: #333333;
  color: white; }

body {
  margin: 0 !important; }

article#post-layout .first-hr {
  clear: both;
  margin: 260px 0 1.5em 0;
  width: 100%; }
article#post-layout .post {
  background-color: #f7f7f7;
  padding: 1em;
  box-shadow: 0 2px 4px #e6e6e6; }

body {
  font-size: 0.9em;
  color: #4d4d4d; }
  @media screen and (min-width: 680px) {
    body {
      font-size: 1.2em; } }
  @media screen and (min-width: 860px) {
    body {
      font-size: 1.5em; } }

html {
  *zoom: 1;
  text-align: left; }
  html:before, html:after {
    content: " ";
    display: table; }
  html:after {
    clear: both; }
  html .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: .7em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase; }
  html h1 {
    font-family: "PT Sans", sans-serif;
    font-weight: 600 bold; }
  html h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 400 bold; }
  html h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700 bold;
    text-transform: uppercase; }
  html p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "PT Sans", sans-serif; }
  html p, html ul {
    font-family: "PT Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em; }
    html p span, html ul span {
      font-family: "PT Sans", sans-serif;
      font-weight: 600;
      font-size: .8em;
      text-transform: uppercase; }
  html p.author {
    font-family: "PT Sans", sans-serif;
    font-style: italic; }
  html .site ul, html .site ol {
    margin: -1.2em 0 0 25px;
    list-style-type: disc; }
  html .site ul li ul, html .site ol li ol {
    margin: 0 0 0 20px;
    list-style-type: square; }

a {
  color: base-accent-color;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none; }
  a:hover {
    color: rgba(0, 76, 153, 0.9);
    text-decoration: underline; }

a.button {
  display: inline-block;
  font-weight: bold;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  margin-top: 1rem;
  color: #e6e6e6;
  background: rgba(20, 104, 215, 0.75);
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }
  a.button:hover {
    color: white;
    background: rgba(0, 76, 153, 0.9); }

nav {
  background-color: #40526b;
  border-bottom: 1px solid #2d394b;
  font-family: "PT Sans", sans-serif;
  font-size: 0.9em;
  height: 60px;
  width: 100%;
  z-index: 999; }
  nav .menu-wrapper {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    nav .menu-wrapper:before, nav .menu-wrapper:after {
      content: " ";
      display: table; }
    nav .menu-wrapper:after {
      clear: both; }
  nav ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    display: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 9999;
    display: inline;
    margin: 0 0 0 10px; }
  nav ul li {
    background: #40526b;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto; }
    nav ul li #logo {
      border: 2px solid rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      padding: .7em;
      font-weight: bold; }
    nav ul li a {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7); }
      nav ul li a:hover {
        color: white;
        text-decoration: none; }

#index .left-header-image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 5em; }
  #index .left-header-image:last-child {
    margin-right: 0; }
  @media screen and (min-width: 570px) {
    #index .left-header-image {
      background: url("/images/home.jpg") no-repeat right center;
      background-size: 200%;
      margin-left: -20px;
      min-height: 700px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      #index .left-header-image:last-child {
        margin-right: 0; } }
#index .left-header {
  padding: 1.5em; }
#index .right-header {
  padding: 1.5em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #index .right-header:last-child {
    margin-right: 0; }
  @media screen and (min-width: 570px) {
    #index .right-header {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      #index .right-header:last-child {
        margin-right: 0; } }
#index h1 {
  line-height: 1.05em; }
#index h1, #index p.intro-copy {
  margin-bottom: 20px;
  text-align: center; }
  @media screen and (min-width: 570px) {
    #index h1, #index p.intro-copy {
      text-align: left; } }
#index ul {
  margin: 0 0 0 25px;
  font-size: .75; }
#index .topics {
  margin: 20px 0 -3px 0; }
#index .topics, #index ul {
  display: none; }
  @media screen and (min-width: 570px) {
    #index .topics, #index ul {
      display: block; } }

#tag-index-layout {
  padding: 0 2em; }
  #tag-index-layout .breadcrumb.index {
    margin-bottom: 0; }

article.list-item {
  padding: 0.5em;
  border-bottom: 1px dotted #dddddd; }
  article.list-item .list-header {
    margin-bottom: -10px; }
  article.list-item h4 {
    margin-bottom: 0.25em; }
    @media screen and (min-width: 720px) {
      article.list-item h4 {
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 0; } }
  @media screen and (min-width: 720px) {
    article.list-item p {
      font-size: .75em;
      line-height: 1em;
      margin-bottom: 0; } }
  article.list-item .meta {
    font-size: 0.8em;
    font-style: italic;
    color: #666666; }
    @media screen and (min-width: 720px) {
      article.list-item .meta {
        font-size: 0.6em; } }

header#hero h1 {
  margin-top: 0em;
  padding: .2em 1em;
  text-align: center; }
  @media screen and (min-width: 720px) {
    header#hero h1 {
      margin-top: -0.5em; } }
header#hero .hero-image {
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -100px; }
header#hero h1.home {
  margin-top: 0; }
header#hero h2 {
  font-size: 1.5em; }
header#hero .centre, header#hero .tags {
  text-align: center; }
header#hero .hero-intro {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
  padding: .2em 1em;
  margin-top: 40%; }
  header#hero .hero-intro:last-child {
    margin-right: 0; }
header#hero .tags {
  margin: 0 0 20px 0;
  font-size: 1.05em; }

.footer {
  background: #40526b;
  padding: 1.5em 1.618em;
  margin-top: 20px;
  width: 100%;
  clear: both; }
  .footer a {
    color: rgba(255, 255, 255, 0.4); }
    .footer a:hover {
      color: white; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.breadcrumb {
  display: none;
  text-align: left;
  margin-bottom: 1.5em;
  font-size: 0.75em;
  line-height: 1em; }
  @media screen and (min-width: 720px) {
    .breadcrumb {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      font-size: 1.2em; } }
  .breadcrumb a {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    background-color: white;
    border: 1px solid #dddddd;
    color: #999999;
    line-height: 1.5em;
    margin-right: -10px;
    font-size: .8em;
    padding: 0 0.375em 0 0.75em;
    position: relative;
    text-decoration: none;
    margin-bottom: 2px; }
    .breadcrumb a:first-child {
      padding-left: 0.75em;
      border-top-left-radius: 0.1875em;
      border-bottom-left-radius: 0.1875em; }
    .breadcrumb a:last-child {
      background-color: white;
      color: #999999;
      border-bottom-right-radius: 0.1875em;
      border-top-right-radius: 0.1875em;
      padding-right: 0.75em; }
    .breadcrumb a:hover {
      color: #477dca;
      background-color: white; }
    .breadcrumb a:hover:after {
      border-left-color: white; }
    .breadcrumb a:last-child:after, .breadcrumb a:last-child:before {
      border: none; }
    .breadcrumb a:before {
      border-left-color: #dddddd;
      margin-left: 1px;
      z-index: 1; }
    .breadcrumb a:after {
      border-left-color: white; }

