body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #ecf0f1;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  color: #2c3e50;
  text-transform: uppercase;
}
p {
  font-weight: lighter;
}
body {
  margin: 0 auto;
  max-width: 70em;
  line-height: 1.5;
  color: #555;
}
a {
  color: #2980b9;
}
a:hover {
  color: #3498db;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col-sm-3 {
  width: 30%;
}
.col-sm-4 {
  width: 22%;
}
.col-sm-6 {
  width: 47%;
}
.box {
  padding: 1em;
  margin: 0.5em 0.5em 0.5em 0;
  border: solid 1px #e6e6e6;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  text-align: center;
  position: relative;
}
.box .icon {
  position: absolute;
  font-size: 120px;
  width: 100%;
  text-align: center;
  margin-top: -30px;
  left: 0;
  height: 100%;
  float: left;
  color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box .text {
  z-index: 1;
}
.logos img {
  opacity: 0.2;
}
.logos .col-sm-3,
.logos .col-sm-4 {
  text-align: center;
}
.logos .col-sm-4 img {
  max-width: 100%;
}
.logos .col-sm-6 img {
  max-width: 60%;
}
.logos .col-sm-3 img {
  max-width: 50%;
}
.logos .logo {
  padding: 1em 1em 1em 0;
}
.logo.novartis,
.logo.pizza_hut {
  text-align: right;
}
.logos img.novartis {
  margin-top: -15px;
}
.logos img.electrolux {
  margin-top: -5px;
}
.logos img.roche {
  margin-top: -5px;
  max-width: 40%;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      padding: 0.5em;
    }
    h1 {
      font-size: 1.2em;
    }
    h3 {
      font-size: 1em;
    }
    .logos .col-sm-3 {
      width: 28%;
    }
    .col-sm-3,
    .col-sm-4,
    .col-sm-6 {
      width: 45%;
    }
    .box {
      height: 220px;
    }
}
