---
layout: default
permalink: /index.html
title: Mehakovi&cacute;
---

<section id="home">

	<header id="hero">
		<div class="left-header">
			<h1 class="home">Digital marketing strategy</h1>
			<h2>Hi, blah blah blah</h2>
			<ul>
				<li>Blah</li>
				<li>Blah</li>
				<li>Blah</li>
			</ul>
		</div>
		<div class="right-header">
			<img src="/images/home_hero.jpg">
		</div>
	</header>

  <div class="cards">
  	{% assign posts = site.posts | homepage_posts %}
  	{% for post in posts %}
      {% include card.html %}
	  {% endfor %}
  <div>
</section>
