.cards {
  @include clearfix;
}

.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5);
  $card-stats-color: lighten($base-accent-color, 10);

  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  margin: $base-line-height/4 0;
  cursor: pointer;
  box-shadow: 0 2px 4px darken($base-body-color, 10);
  position: relative;

  h4 {
    font-size: 1.25em;
    @include media($m-med) { font-size: 1em; }
  }

  p {
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 0;

    @include media($m-med) {
      font-size: .7em;
      line-height: 1em;
    }
  }

  .meta {
    font-size: 0.8em;
    font-style: italic;
    color: lighten($base-font-color, 20);
    @include media($m-med) { font-size: 0.6em; }
  }

  .card-image {
    @include span-columns(3);
    @include media($s-small) { @include span-columns(2); }
//    @include media($m-small) { @include span-columns(1); }
//    @include media($s-med) { @include span-columns(4); }
    @include media($s-large) { @include span-columns(4); }
    @include media($l-large) { @include span-columns(2); }

    overflow: hidden;
    max-height: 150px;

    img {
      width: 100%;
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-line-height/3 $gutter/2;
  }

  .card-copy {
    padding: $base-line-height/2 $gutter/2;
    font-size: .9em;
    line-height: 1.5em;
  }

  &:hover {
    background-color: $card-hover-background;
  
    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}