header#hero {
  $left-header-background: transparentize(white, .4);
  $border-color: $base-border-color;
  $background: lighten($border-color, 10);

  h1 {
    margin-top: 0em;

    @include media($m-med) {
      margin-top: -0.5em;
    }
  }

  h1.home {
    margin-top: 0;
  }

  h2 {
    font-size: $base-font-size;
  }

  .left-header {
    @include span-columns(12);
    display: block;
    background: $left-header-background;
    z-index: 1;
    padding: 10px 5px;
    margin-top: 210px;

    @include media($m-small) { margin-top: 250px; }
  }

  .right-header {
    @include span-columns(12);
    float: right;
    position: absolute;
    margin: 0;
    top: 140px;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .tags {
    margin: 0 0 20px 0;
    font-size: $base-font-size * .7;
  }

  // Widest
  @include media($m-med) {
    .left-header {
      @include span-columns(5);
      margin-top: 0;
    }

    .right-header {
      @include span-columns(7);
      position: relative;
      margin: 0;
      top: 0;
    }
  }
}

#home {
  #hero {
    .right-header {
      top: inherit;
    }
  }
}
