#index {

  .left-header-image {
    @include span-columns(12);
    background: lighten($base-border-color, 10);

    @include media( $m-small ) {
      background: url("/images/home.jpg") no-repeat right center;
      background-size: 200%;
      margin-left: -20px;
      min-height: 600px;
      @include span-columns(6);
    }
  }

  .left-header {
    padding: 1.5em;
  }

  .right-header {
    padding: 1.5em;

    @include span-columns(12);
    @include media( $m-small ) { @include span-columns(6); }
  }

//  .left-header, .right-header {
//    padding: 1.5em;

//  	@include span-columns(12);
//  	@include media( $m-small ) { @include span-columns(6); }
//  }

  h1 {
    line-height: 1.05em;
  }

  h1, p.intro-copy {
		margin-bottom: 20px;
    text-align: center;
    @include media( $m-small ) { text-align: left; }
  }

  ul {
  	margin: 0 0 0 25px;
  	font-size: .75;
  }

  .topics {
  	margin: 20px 0 -3px 0;
  }

  .topics, ul {
  	display: none;
  	@include media( $m-small ) { display: block; }
  }
}