a {
	color: $blue;
	@include transition( all 0.5s );
	text-decoration: none;

  &:hover{
  	color: $dark-blue;
  	text-decoration: underline;
  }

  .button {
	  display: inline-block;
	  line-height: 2.5rem;
	  padding: 0 1.5rem;
	  margin-top: 1rem;
	  color: white;
	  background: $dark-grey;
	  text-decoration: none;
	}
}