@mixin logo {
  border: 4px solid transparentize(white, 0.3);
  border-radius: 50%;
  padding: .5em;
  font-weight: bold;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}