::selection {
  background: $blue;
  color: $white;
}

// originally done with modular scales, revise with burbon

html {
	font-size: 16px;
  font-family: $font;
  line-height: 1.4;
  color: $dark-grey;

  body, p {
  	font-size: ms(0);
  	margin: 0;
  }

  h5, h4, h3, h2, h1 { line-height: 0.8; }

  h5 {
  	font-size: ms(1);
  	margin: 0;
  }

  h4 {
  	font-size: ms(2);
  	margin: 0;
  }

  h3 {
  	font-size: ms(3);
  	margin: 0;
  }

  h2 {
  	font-size: ms(4);
  	margin: 0;
  }

  h1 {
  	font-size: ms(5);
  	margin: 0;
  }
}

@media screen and (max-width: $s-small){ html{ font-size: 12px; } }
@media screen and (max-width: $m-small){ html{ font-size: 14px; } }
@media screen and (min-width: $s-med){ html{ font-size: 16px; } }
@media screen and (min-width: $s-large){ html{ font-size: 17px; } }
@media screen and (min-width: $l-large){ html{ font-size: 18px; } }