// COLOR
$dark-grey: #3c3c3c;
$grey: #5b5b62;

$blue: rgba(20,104,215,0.75);
$dark-blue: rgba(0,76,153,0.9);

// SCREEN SIZES
$s-small: 500px;
$m-small: 570px;
$l-small: 620px;
$s-med: 680px;
$m-med: 720px;
$l-med: 800px;
$s-large: 860px;
$m-large: 920px;
$l-large: 1000px;

// TYPOGRAPHY
$font: "helvetica neue", helvetica, arial, sans-serif;