::selection {
  background: rgba(20, 104, 215, 0.75);
  color: white; }

html {
  font-size: 16px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1.4;
  color: #3c3c3c; }
  html body, html p {
    font-size: 1rem;
    margin: 0; }
  html h5, html h4, html h3, html h2, html h1 {
    line-height: 0.8; }
  html h5 {
    font-size: 1.25rem;
    margin: 0; }
  html h4 {
    font-size: 1.61803rem;
    margin: 0; }
  html h3 {
    font-size: 2.02254rem;
    margin: 0; }
  html h2 {
    font-size: 2.61803rem;
    margin: 0; }
  html h1 {
    font-size: 3.27254rem;
    margin: 0; }

@media screen and (max-width: 500px) {
  html {
    font-size: 12px; } }
@media screen and (max-width: 570px) {
  html {
    font-size: 14px; } }
@media screen and (min-width: 680px) {
  html {
    font-size: 16px; } }
@media screen and (min-width: 860px) {
  html {
    font-size: 17px; } }
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px; } }
a {
  color: rgba(20, 104, 215, 0.75);
  transition: color 0.5s linear;
  text-decoration: none; }
  a:hover {
    color: rgba(0, 76, 153, 0.9); }
  a .button {
    display: inline-block;
    line-height: 2.5rem;
    padding: 0 1.5rem;
    margin-top: 1rem;
    color: white;
    background: #3c3c3c;
    text-decoration: none; }

nav {
  background: rgba(20, 104, 215, 0.75); }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        padding: 0 1rem 0 0.2rem;
        background-position: 1em center;
        color: white;
        display: block;
        height: 20px;
        transition: background 0.5s linear; }
        nav ul li a:hover {
          color: white;
          background: rgba(0, 76, 153, 0.9); }
