/* line 1, ../../assets/sass/_typography.scss */
html { font-size: 16px; font-family: "helvetica neue", helvetica, arial, sans-serif; line-height: 1.4; color: #3c3c3c; }
/* line 7, ../../assets/sass/_typography.scss */
html body, html p { font-size: 1rem; }
/* line 9, ../../assets/sass/_typography.scss */
html h5 { font-size: 1.25rem; }
/* line 10, ../../assets/sass/_typography.scss */
html h4 { font-size: 1.61803rem; }
/* line 11, ../../assets/sass/_typography.scss */
html h3 { font-size: 2.02254rem; }
/* line 12, ../../assets/sass/_typography.scss */
html h2 { font-size: 2.61803rem; }
/* line 13, ../../assets/sass/_typography.scss */
html h1 { font-size: 3.27254rem; }

@media screen and (max-width: 500px) { /* line 16, ../../assets/sass/_typography.scss */
  html { font-size: 12px; } }
@media screen and (max-width: 570px) { /* line 17, ../../assets/sass/_typography.scss */
  html { font-size: 14px; } }
@media screen and (min-width: 620px) { /* line 18, ../../assets/sass/_typography.scss */
  html { font-size: 16px; } }
@media screen and (min-width: 680px) { /* line 19, ../../assets/sass/_typography.scss */
  html { font-size: 16px; } }
@media screen and (min-width: 720px) { /* line 20, ../../assets/sass/_typography.scss */
  html { font-size: 17px; } }
@media screen and (min-width: 800px) { /* line 21, ../../assets/sass/_typography.scss */
  html { font-size: 17px; } }
@media screen and (min-width: 860px) { /* line 22, ../../assets/sass/_typography.scss */
  html { font-size: 17px; } }
@media screen and (min-width: 920px) { /* line 23, ../../assets/sass/_typography.scss */
  html { font-size: 18px; } }
@media screen and (min-width: 1000px) { /* line 24, ../../assets/sass/_typography.scss */
  html { font-size: 18px; } }
/* line 1, ../../assets/sass/_links.scss */
a { color: rgba(20, 104, 215, 0.75); transition: color 0.5s linear; text-decoration: none; }
/* line 6, ../../assets/sass/_links.scss */
a:hover { color: rgba(0, 76, 153, 0.9); }
/* line 8, ../../assets/sass/_links.scss */
a .button { display: inline-block; line-height: 2.5rem; padding: 0 1.5rem; margin-top: 1rem; color: white; background: #3c3c3c; text-decoration: none; }
