<!-- <footer>
  <div class="contact">
    <p>
      Your Name<br />
      What You Are<br />
      you@example.com
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/yourusername">github.com/yourusername</a><br />
      <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
    </p>
  </div>
</footer> -->

<footer class="footer">
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/services"></a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
    </ul>
    <ul>
      <li><h3>Vlad</h3></li>
      <li><a href="http://twitter.com/vladiim">Twitter</a></li>
      <li><a href="http://au.linkedin.com/in/vladivanovic/">LinkedIn</a></li>
      <li><a href="http://github.com/vladiim/">GitHub</a></li>
    </ul>

    <ul>
      <li><h3>Holly</h3></li>
      <li><a href="http://twitter.com/vladiim">Facebook</a></li>
      <li><a href="http://au.linkedin.com/in/vladivanovic/">Twitter</a></li>
      <li><a href="http://au.linkedin.com/in/vladivanovic/">Instagram</a></li>
    </ul>
  </div>

  <hr>

  <p>Copyright &copy; Mehakovic {% current_year %}</p>
</footer>