<footer class="footer">
  <!-- <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Social</h3></li>
      <li><a href="http://twitter.com/vladiim">Twitter</a></li>
      <li><a href="http://au.linkedin.com/in/vladivanovic/">LinkedIn</a></li>
      <li><a href="http://github.com/vladiim/">GitHub</a></li>
    </ul>

    <ul>
      <li><h3>Holly</h3></li>
      <li><a href="http://twitter.com/vladiim">Facebook</a></li>
      <li><a href="http://au.linkedin.com/in/vladivanovic/">Twitter</a></li>
      <li><a href="http://au.linkedin.com/in/vladivanovic/">Instagram</a></li>
    </ul>
  </div> -->

  <hr>

  <p>Copyright &copy; Mehakovic {% current_year %} | <a href="http://twitter.com/vladiim">Twitter</a> | <a href="http://au.linkedin.com/in/vladivanovic/">LinkedIn</a> | <a href="http://github.com/vladiim/">GitHub</a></p>
</footer>