<!-- <nav role="full-horizontal">
	<ul>
		<li><a href="/">{{ site.name }}</a></li>
		<li><a href="/services">Services</a></li>
		<li><a href="/articles">Articles</a></li>
		<li><a href="/folio">Folio</a></li>
	</ul>
</nav> -->

<nav>
	<header class="navigation">
	  <div class="menu-wrapper">
	    <a href="/" class="logo">
	      {{ site.name }}
	    </a>
	    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
	    <div class="nav">
	      <ul id="navigation-menu">
	        <li><a href="/services">Services</a></li>
	        <li><a href="/articles">Articles</a></li>
	        <li><a href="/folio">Folio</a></li>
	      </ul>
	    </div>
	  </div>
	</header>
</nav>