.footer {
  $footer-background: $accent-color;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-line-height $gutter;
  margin-top: 20px;
  width: 100%;
  clear: both;

  a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}