a {
	$link-color: base-accent-color;

	// color: $blue;
	color: $link-color;
	@include transition( all 0.5s );
	text-decoration: none;

  &:hover{
  	// color: $dark-blue;
  	color: $dark-blue;
  	text-decoration: underline;
  }
}

a.button {
  display: inline-block;
  font-weight: bold;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  margin-top: 1rem;
  color: darken( white, 10 );
  background: $blue;
  text-decoration: none;
  @include transition( all 0.5s );

  &:hover {
  	color: white;
  	background: $dark-blue;
  }
}