.subscribe {

  position: relative; 
  display: inline-block;
  width: 100%;
  background: lighten($base-border-color, 10);
  padding-bottom: 10px;
  display: none;

  input {
    @include box-sizing(border-box);
    display: block;
  }

  div.subscribe-submit {
    margin: 0 0 0 10px;
    position: relative;

    a {
      font-weight: bold;
    }

    a, p {
      font-size: 120%;
      display: inline;
    }

    input[type=email] {
      @include appearance(none);
      background-color: transparent;
      display: inline;
      width: 50%;
      border: 0px solid;
      font-size: 120%;
      outline: none;
      box-shadow: none;
      margin-left: -3px;
      padding: 0 .5em;
      margin-bottom: 0;

      &:focus {
        border-color: none;
        box-shadow: none;
        outline: none;
        color: lighten($base-font-color, 10);
        font-family: 'PT Sans', sans-serif;
      }
    }
  }
}