<header id="hero">
	<h1  itemprop="name" itemprop="headline">{{ page.title }}</h1>

	<div class="hero-intro">
		<h2 class="centre" itemprop="description">{{ page.overview }}</h2>

		<div class="meta">
			<ul>
				<li itemprop="datePublished">{{ page.date | date_to_string }} <b>/</b></li>
				<li>~ {{ page.content | number_of_words | est_time_to_read }} <b>/</b></li>
				<li temprop="author">By: {{ page.author }} <b>/</b></li>
			  {% for tag in page.tags %}
		      <li><a href="/{{ tag | un_commatize }}" class="centre" itemprop="keywords">#{{ tag }}</a></li>
			  {% endfor %}
			</ul>
		</div>

	<div class="hero-image">
		<img src="/images/{{ page.image }}" alt="{{ page.image_alt }}" itemprop="image">
	</div>

	</div>
</header>