<nav role="navigation">
	<header class="navigation">
	  <div class="menu-wrapper">
	    <div class="nav">
	      <ul id="navigation-menu">
	        <li><a href="/" id="logo">M&cacute;</a></li>
	        <!-- <li><a href="/services">Services</a></li> -->
	        <li><a href="/articles">Articles</a></li>

	        <li><a id="subscribe-nav" href="/subscribe">Subscribe</a></li>

	        </li>
	      </ul>
	    </div>
	  </div>
	</header>

	<div class="subscribe">
		<div class="subscribe-submit">
			<p>Subscribe by </p><a href="/rss.xml">RSS</a><p>, or</p><input id="email-newsletter-subscribe" type="email" placeholder="enter your email">
	</div>
</nav>